<html lang="pl_PL">
  <head>
    <!-- ðŸ— Structo the Builder -->
    <!-- Wykorzystaj odpowiedniÄ… skÅ‚adniÄ™ EJS do odpowiednich zadaÅ„. -->
    <!-- PodpowiedÅº: <title><%= headTitle %> -->
    <link rel="stylesheet" href="css/main.css" />
    <title><%= headTitle %></title>
  </head>
  <body>
  <main>
    <%- include('partials/navigation', { menuLinks: menuLinks, activeLinkPath: activeLinkPath }) %>
    <h1>404 - Not Found</h1>
  </main>
  </body>
</html>
