<html>
  <head>
    <link rel="stylesheet" href="/css/main.css" />
    <title><%= headTitle %></title>
  </head>
  <body>
  <main>
    <%- include('partials/navigation', { menuLinks: menuLinks, activeLinkPath: activeLinkPath }) %>
    <h1 class="heading">Logout</h1>
  </main>
  </body>
</html>
